*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
a{
  // 去掉 a 标签的样式
  text-decoration: none;
  // 颜色是继承 只是：继承 icon 的颜色吗？
  color: inherit;
}
ul,li{
  list-style: none;
}
button,input{
  font:inherit;
}
// 任何被选中的元素
:focus{
  outline: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}